<div class="container-fluid" role="main">
  <div class="jumbotron">

  <h1 class="text-center">Find your patient here!</h1>
  <p class="text-center">Easily locate and upload your patients documents to our secure database.<strong>√</strong>  </p>
  <p class="text-center">No longer deal with clients upset about being forced to fill out an inconvenient form while sick.<strong>√</strong>  </p>
  <p class="text-center">Every 6 months, your patients will be asked to update their main form to streamline the check-in process.</p>
  <p class="text-center">Type in your patients name and or social security to look them up.</p>
    <p class="text-center">You'll need their generated password to access their documents :)<strong>√</strong></p>
    <a class="button medred-background btn btn-block" href="/patients/<%=current_user.id%>/medforms/new">Take 20 minutes to fill out your last form, ever!</a>
  </div>
</div>
