<div class="container-fluid" role="main">
  <div class="jumbotron">

  <h1 class="text-center">Fill out your last medical form here!</h1>
  <p class="text-center">Are you tired of filling out those long forms each time you visit a doctor's office? <strong>√</strong>  </p>
  <p class="text-center">Do you want to have access to your personal medical forms? <strong>√</strong>  </p>
  <p class="text-center">We have created a double-password protected database that allows you and your chosen medical practitioners to have access to your documents. </p>
  <p class="text-center">So, let's sign-up and fill out your last doctor's form ever :)</p>
    <a class="button medred-background btn btn-block" href="/patients/<%=current_user.id%>/medforms/new">Take 20 minutes to fill out your last form, ever!</a>
  </div>
</div>
